<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collegemanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".UploadDownloadReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.collegemanager.UPLOAD_COMPLETE" />
                <action android:name="com.example.collegemanager.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DatabaseHandler"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.Home"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".profile.StudentDetails"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".attendance.Attendance"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".notices.Notices"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".assignment.Assignment"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".assignment.pending.Pending"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".assignment.submitted.Submitted"
            android:theme="@style/CustomTheme" />

        <service
            android:name=".UploadStarter"
            android:exported="false" />
        <service
            android:name=".NotificationChannelRegister"
            android:exported="false" />
        <service
            android:name=".DownloadStarter"
            android:exported="false" />
    </application>

</manifest>